In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50-5*6

20

In [8]:
(50-5*6)/4

5.0

In [9]:
#Now Write Comment
#This is my first program.
#It prints the phrase "Hello, World"
#The comments are longer than the code.

In [10]:
greeting="Hello world of Python"
print(greeting)

Hello world of Python

In [11]:
8 / 5 # division always returns a floating point number

1.6

In [12]:
17 / 3 # classic division returns a float

5.666666666666667

In [13]:
17 // 3 # floor division discards the fractional part

5

In [14]:
17 % 3 # the % operator returns the remainder of the division

2

In [15]:
5 * 3 + 2 # result * divisor + remainder

17

In [16]:
5 ** 2 # 5 squared

25

In [17]:
2 ** 7 # 2 to the power of 7

128

In [25]:
width = 20

height = 5 * 9

width * height

print(width)

print("The value of width=",width)

print("The value of width is=", width)

print("Value=",width*height)

print(height)

20
The value of width= 20
The value of width is= 20
Value= 900
45

In [26]:
tax = 12.5 / 100

price = 100.50

price * tax

print(tax)
print(price)

0.125
100.5

In [30]:
"The "+"Sun"

'The Sun'

In [31]:
"Planets"+" Universe"

'Planets Universe'

In [32]:
"The "+"Moon"

'The Moon'

In [33]:
string1 = "Elon"

string2 = "Musk"

magic_string = string1 + string2

magic_string

'ElonMusk'

In [34]:
first_name="Saurabh"
last_name="Singh"

print(first_name+" "+last_name)

Saurabh Singh

In [36]:
first="The weather looks good today."
second="I should go out for a walk."

print(first+" "+second)

The weather looks good today. I should go out for a walk.

In [47]:
xyz="Hey, What's up?"

print(xyz)
qwe=input("")

Hey, What's up?
I am good.

In [53]:
num1=input("Enter the number:")
num2= int(num1)*2
print(num2)

Enter the number:10
20

In [51]:
num = input("Enter a number to be doubled: ")

doubled_num = int(num) * 2

print(doubled_num)

Enter a number to be doubled: 20
40

In [60]:
f_num=input("Enter the first number:")
s_num=input("Enter the second number:")

result=int(f_num)*int(s_num)

print("The product of "+str(f_num)+" and "+str(s_num)+" is "+str(result))

Enter the first number:2
Enter the second number:4
The product of 2 and 4 is 8

In [64]:
principle=int(input("principle"))
rate=int(input("rate"))
time=int(input("time"))

si=(principle*rate*time)/100

print("The simple interst is:",si)

principle2300
rate12
time3
The simple interst is: 828.0

In [67]:
str="abcdef"
len(str)

6

In [68]:
flying_plane_cost=5000
no_of_travellers=29
per_ticket_price=200

money_earner= no_of_travellers * per_ticket_price

profit = money_earner - flying_plane_cost

print(profit)

800