#
Multiplying a number using function.

In [4]:
def square(x):
    return x*x
print(square(4))

16

In [5]:
square(5)

25

#
Adding a number using function.

In [9]:
def add_number(x,y):
    sum=x+y
    return sum
num1=10
num2=12

print("The sum is:",add_number(num1,num2))

The sum is: 22

In [7]:
add_number(num1,num2)

22

#
Printing a greeting message.

In [1]:
def greet(name,message):
    print("Hello",name,",",message)
greet("Saurabh","Goodevening")

Hello Saurabh , Goodevening

# Task :
Write a program to create a function that takes two arguments, name and age, and print their value.

In [2]:
def identity(x,y):
    print(x,y)
identity("Sayandrila",25)

Sayandrila 25

# Task :
Write a function absolute_value to find absolute of a given number.

In [9]:
def absolute_value(x):
    if x>=0:
        return x
    else:
        return -x
print(absolute_value(3))
print(absolute_value(-1))

3
1

In [13]:
def absolute_value(x):
    if x>=0:
        return x
        print(x)
    else:
        return -x
        print(-x)
absolute_value(-2)

2

# Task :
write a function multiply to calculate multiplication of two numbers by taking as a arguments.

In [14]:
def multiply(x,y):
    product=x*y
    print(product)
multiply(3,6)

18

# Task : 
write a function division to calculate division of two numbers by taking as a arguments.

In [16]:
def division(x,y):
    div=x/y
    print(div)
division(3,6)

0.5

In [24]:
def my_func():
    x = 10
    print("Value inside function:",x)
x = 20
my_func()
print("Value outside function:",x)

Value inside function: 10
Value outside function: 20

# Task : 
Write the above code to find cube of x.

In [6]:
def cube_num(num):
    return num**3

sequences = [10,2,8,7,5,4,3,11,0, 1]

result= list(map(cube_num,sequences))

print(result)

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

In [9]:
y=3
f_result=map(lambda x:x**y,sequences)
print(list(f_result))

[1000, 8, 512, 343, 125, 64, 27, 1331, 0, 1]

# Task : 
write the above code for the expression x>4

In [10]:
sequences = [10,2,8,7,5,4,3,11,0, 1]

def greater(num):
    return num>4

result=list(map(greater,sequences))
print(result)

[True, False, True, True, True, False, False, True, False, False]

In [11]:
l_result=list(map(lambda x:x>4,sequences))
print(l_result)

[True, False, True, True, True, False, False, True, False, False]

In [15]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
cube=[]
def triple():
    
    for x in range(11):
        if x>5:
            cube.append(x**3)
            print(cube)
        else:
            print(cube)
triple()

[]
[]
[]
[]
[]
[]
[216]
[216, 343]
[216, 343, 512]
[216, 343, 512, 729]
[216, 343, 512, 729, 1000]

In [51]:
def m_fun():
    squares = []
    for x in range(10):
         squares.append(x**2)
    print(squares)
m_fun()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Task
Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [55]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))

def product_sum():
    if num1*num2<=1000:
        product=num1*num2
        print(product)
    else:
        sum=num1+num2
        print(sum)

product_sum()

Enter the first number:500
Enter the second number:10
510

In [66]:
def pro_sum(num1,num2):
    if num1*num2<=1000:
        product=num1*num2
        print(product)
    else:
        sum=num1+num2
        print(sum)
pro_sum(25,2)

50

In [64]:
def prod_sum(num1,num2):
    if num1*num2<=1000:
        product=num1*num2
        return product
    else:
        sum=num1+num2
        return sum
result=prod_sum(25,2)
print("The result is:",result)

The result is: 50

# Task:
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [80]:
def check(numberlist):
    print("Given list:",numberlist)
    if numberlist[0]==numberlist[-1]:
        return True
    else:
        return False
list1=[1,3,23,54,46,1]
print("Result is:",check(list1))
list2=[2,5,3,5,7,5,4,4]
print("Result is:",check(list2))

Given list: [1, 3, 23, 54, 46, 1]
Result is: True
Given list: [2, 5, 3, 5, 7, 5, 4, 4]
Result is: False