In [1]:
x=0
while(x<4):
    print(x)
    x=x+1

0
1
2
3

# Task
Print First 10 natural numbers using while loop

In [4]:
x=1
while(x<=10):
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [1]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [3]:
months=["jan","feb","mar","apr","may"]
for m in months:
    print(m)

jan
feb
mar
apr
may

In [4]:
animals=["cat","dog","horse","donkey"]
for a in animals:
    print(a)
    
for a in animals:
    print(a,len(a))

cat
dog
horse
donkey
cat 3
dog 3
horse 5
donkey 6

In [14]:
print(range(5,10))
print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(9)))

a=["Marry","had","a","little","lamb"]

for i in range(len(a)):
    print(i)

range(5, 10)
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
0
1
2
3
4

In [16]:
x=18
y=10

if(x<y):
    st="x is smaller than y"
else:
    st="x is greater than y"
    
print(st)

x is greater than y

In [26]:
x=int(input("Please enter a number"))

if x<0:
    x==0
    print("Negative changed to zero.")
elif x==0:
    print("Zero")
elif x==1:
    print("One")
else:
    print("Digit")

Please enter a number1
One

# Task
write a program using if-elif with different country value and total values.

In [31]:
total=125
country=input("Write your counrty name:")

if country=="us":
    if total<=50:
        print("Shipping cost is $150.")
    elif total<=100:
        print("Shipping cost is $50.")
    elif total<=25:
        print("Shipping cost is $25.")
    else:
        print("Free.")
if country=="au":
    if total<=100:
        print("Shipping cost is $50")
    else:
        print("Free")

Write your counrty name:au
Free

# Task
write a program to find even or odd using for loop /range function.

In [50]:
for num in range(10):
    if num%2==0:
        print("Even Number")
    else:
        print("Odd Number")

Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number
Even Number
Odd Number

In [47]:
for num in range(2, 10):

    if num % 2 == 0:

        print("Found an even number", num)

    continue

    print("Found a number", num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

# Task
write two different loops for break if x is even number and continue when the number is divide by 5.

In [84]:
for x in range(20):
    if x==20:
        break
    if x%2==0:
        continue
    if x%5==0:
        continue
    print(x)

1
3
7
9
11
13
17
19

In [80]:
for x in range (10,20):
    if (x == 15):
        break
    if (x % 2 == 0):
        continue
    print(x)

11
13

In [73]:
for x in range (10,20):
    if (x == 15):
        break
    if (x % 5 == 0):
        continue
    print(x)

11
12
13
14

# Task
Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [86]:
num = [5,10,15,34,20,32,56,25,30]
print("Given list:",num)
print("Number divisible by 5:")
for n in num:
    if n%5==0:
        print(n)

Given list: [5, 10, 15, 34, 20, 32, 56, 25, 30]
Number divisible by 5:
5
10
15
20
25
30

# Task
Calculate the sum of all numbers from 1 to a given number

In [94]:
sum = 0
num = int(input("Enter a number"))
for n in range(1,num+1):
    sum=sum+n
    print("sum is:",sum)

Enter a number12
sum is: 1
sum is: 3
sum is: 6
sum is: 10
sum is: 15
sum is: 21
sum is: 28
sum is: 36
sum is: 45
sum is: 55
sum is: 66
sum is: 78

# Task
Write a program to print multiplication table of a given number

In [97]:
num = int(input("Enter a number:"))
for i in range(1,11,1):
    product=i*num
    print(num,"x",i,"=",product)

Enter a number:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

 # Task 
 create a new list with the values doubled

In [107]:
vec = [-4, -2, 0, 2, 4]

for v in vec:
    v=v*2
    print(v)

-8
-4
0
4
8

# Task
filter the list to exclude negative numbers

In [114]:
vec = [-4, -2, 0, 2, 4]
for v in vec:
    if v<0:
        continue
    print(v)

0
2
4

# abs() function

In [118]:
vec = [-4, -2, 0, 2, 4]
for v in vec:
    print(abs(v))

4
2
0
2
4

# Strip() function

In [131]:
# removes white space from start and end when no argument is given

freshfruit = [' banana', ' loganberry ', 'passion fruit ']
for f in freshfruit:
    f=f.strip()
    print(f)

banana
loganberry
passion fruit

In [160]:
freshfruit = [' banana', ' loganberry ', 'passion fruit ']
for f in freshfruit:
    f=f.strip("banana")
    print(f)

 loganberry
passion fruit

# Task
create a list of 2-tuples like (number, square)

In [161]:
list=[]
for x in range(10):
    x=(x,x**2)
    list.append(x)
print(list)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Task sorted() function
To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while

leaving the source unaltered.

In [162]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for b in sorted(set(basket)):
    print(b)

apple
banana
orange
pear

# Task reversed() function
To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the

reversed() function.

In [163]:
for i in reversed(range(2,10,2)):
    print(i)

8
6
4
2

# if-else peactice

In [164]:
today = 'Wednesday'

 

if today == 'Sunday':

    print("Today is the day of the sun.")

elif today == 'Monday':

    print("Today is the day of the moon.")

elif today == 'Tuesday':

    print("Today is the day of Tyr, the god of war.")

elif today == 'Wednesday':

    print("Today is the day of Odin, the supreme diety.")

elif today == 'Thursday':

    print("Today is the day of Thor, the god of thunder.")

elif today == 'Friday':

    print("Today is the day of Frigga, the goddess of beauty.")

elif today == 'Saturday':

    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

# .format() method

In [170]:
a_number = 49

 

if a_number % 2 == 0:

    print('{} is divisible by 2'.format(a_number))

elif a_number % 3 == 0:

    print('{} is divisible by 3'.format(a_number))

elif a_number % 5 == 0:

    print('{} is divisible by 5'.format(a_number))

else:

    print('All checks failed!')

    print('{}  is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49  is not divisible by 2, 3 or 5

In [171]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

 

for i in range(len(a_list)):

    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

In [172]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

 

for day in weekdays:

    print('Today is {}'.format(day))

    if (day == 'Wednesday'):

        print("I don't work beyond Wednesday!")

        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [173]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in weekdays:

    if (day == 'Wednesday'):

        print("I don't work on Wednesday!")

        continue

    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

# Task
Write a program that prints different messages based on whether a number is positive or negative.

In [179]:
for r in range(-10,11):
    if r<0:
        print("Negative number")
    elif r>0:
        print("Positive number")
    else:
        print("Zero")

Negative number
Negative number
Negative number
Negative number
Negative number
Negative number
Negative number
Negative number
Negative number
Negative number
Zero
Positive number
Positive number
Positive number
Positive number
Positive number
Positive number
Positive number
Positive number
Positive number
Positive number